* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ticket-form {
  height: 91%;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 6%;
}

.field-row { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 4%;
  height: 10%;
  width: 100%;
}

.field-row label {
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  white-space: nowrap;
  min-width: 200px;
  width: 25%;
}


.field-row select {
  flex: 1;
  width: 70%;
  padding: 10px;
  background-color: #5a5a5a;
  border: none;
  border-radius: 8px;
 height: 70%;
  color: #cccccc;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Cpath d='M1 1l5 5 5-5' stroke='%23ffffff' stroke-width='2' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  cursor: pointer;
  outline: none;
}
.field-row select:focus {
  background-color: #666666;
}


.description-block {
  display: flex;
  flex-direction: column;
  height: 45%;
}

.description-label-tab {
  display: inline-block;
  background-color: #5a5a5a;
  color: #0f0202;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 8px 8px 0 0;
  align-self: flex-start;
  margin-left: 0;
  z-index: 1;
}

.description-block textarea {
  background-color: #5a5a5a;
  border: none;
  border-radius: 0 12px 12px 12px;
  padding: 20px;
  color: #cccccc;
  font-size: 14px;
  resize: none;
  height: 90%;
  outline: none;
  transition: background-color 0.2s ease;
  width: 100%;
}

.description-block textarea:focus {
  background-color: #666666;
}

.submit-btn {
  align-self: center;
  width: 20%;
  height: 7%;
  background: linear-gradient(135deg, #8888dd, #aaaaff);
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submit-btn:active {
  transform: translateY(1.3px);
}