
#home-con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 35%;
    flex-direction: column;
    row-gap: 10%;

    
}
#home-img{
height: 60%;
width: auto;
overflow: hidden;
}

#home-button{
   width: 35%;
   min-width: 210px;
   height: 6%;
  background: linear-gradient(135deg, #8888dd, #aaaaff);
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

}